.leftbar {
    flex: 1;
}
.leftbar .notificationsContainer {
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.leftbar .explore-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 4px;
    border-radius: 7px;
    margin-top: 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
}

.profile-image-cover {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.profile-frinds {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    width: 100%;
}

.profile-frinds div {
    margin-left: 28px;
    margin-bottom: 10px;
    width: 60px;
}

.profile-frinds div p {
    margin: 0;
    cursor: pointer;
}

.profile-frinds div p:hover {
    text-decoration: underline;
}

.see-all {
    color: #aaa;
    cursor: pointer;
}

.see-all:hover {
    text-decoration: underline;
}
