.like-comment-partage {
    display: flex;
}

.like-comment-partage .button {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.input-comment {
    width: 80%;
    border-radius: 12px;
    height: 50px;
    padding: 0 20px;
    border: solid 0.5px #aaa;
    font-size: 28px;
}

.input-comment:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px #aaa;
    background: #f2f2f2;
    outline: none;
}

.comments,
.response-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.comments .comment-container {
    text-align: start;
    background: #d9d9d9;
    max-width: 60%;
    border-radius: 25px;
    padding: 10px 20px;
    letter-spacing: 0.5px;
}

.comments .comment-container h4,
.comments .comment-container p {
    margin: 0;
}

.response-container {
    padding-top: 20px;
}

.comments .btns {
    display: flex;
    gap: 25px;
    padding: 10px 0;
}
